@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply font-[Red_Hat_Display];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(125, 125, 125);
  height: 2px;
  border-radius: 64px;
}

.social-badge {
  @apply flex h-16 w-full max-w-[300px] md:max-w-none items-center justify-center gap-12 md:gap-6;
  @apply transition-all duration-100 ease-linear;
}

.badge-icon {
  @apply size-8
}

.social-name {
  @apply w-12 text-nowrap mr-6 md:mr-10
}

.card-section {
  @apply md:px-8 box-border flex flex-col md:gap-8 gap-0 justify-center mb-16 min-w-full
}

.card {
  @apply flex flex-col justify-center align-middle m-4 p-8 gap-2 rounded-xl bg-gray-200/10 shadow-lg opacity-80
}