:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --primary: rgb(116, 180, 210);
  --secondary: rgb(157, 219, 212);
  --tertiary: rgb(71, 130, 167);
  --bg: rgb(48, 53, 62);
}

.user-select-none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}